<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用本系统</title>
    <script src="../../plugins/js/vue.js"></script>
    <script src="../../plugins/element-ui/lib/index.js"></script>
    <script src="../../plugins/js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/login.css">

</head>
<body style="height: 100%">
<div id="main">
    <el-container>

        <el-header><img style="width: 50px;height: 50px;margin-top:5px;float:left;" src="../../img/icon/hospital.png"/>
            <p style="float: left;margin-left: 10px">医护管理系统</p></el-header>
        <el-main>
            <div style="height: 100%;width: 100%;border-radius: 3%;">
                <div id="img">
                    <img src="../../img/theme2.jpg"/>
                </div>
                <div id="login-info" v-show="login">
                    <h2 class="title">登录系统</h2>
                    <br>
                    <el-form ref="form" style="text-align: center">
                        <el-form-item>
                            <el-input v-model="logins.username" prefix-icon="el-icon-user" placeholder="请输入用户名"
                                      style="width: 70%"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-input v-model="logins.password" prefix-icon="el-icon-lock" type="password"
                                      placeholder="请输入密码" style="width: 70%"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <template>
                                <el-select v-model="value" placeholder="请选择身份" style="width: 70%">
                                    <el-option
                                            v-for="item in options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                        </el-form-item>
                        <el-form-item style="margin-bottom: 0">
                            <el-button type="success" @click="logi">立即登录</el-button>
                        </el-form-item>
                        <el-form-item style="text-align: right;padding-right: 10px">
                            <el-link type="primary" @click="regi_open">没有账号？注册用户</el-link>
                        </el-form-item>
                    </el-form>
                </div>
                <div id="regis-info" v-show="register">
                    <h2 class="title">注册系统</h2>
                    <br>
                    <el-form ref="form" style="text-align: center">
                        <el-form-item>
                            <el-input v-model="regi.username" prefix-icon="el-icon-user" placeholder="请输入用户名"
                                      style="width: 70%"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-input v-model="regi.name" prefix-icon="el-icon-s-custom" placeholder="请输入姓名"
                                      style="width: 70%"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-input v-model="regi.password" prefix-icon="el-icon-lock" type="password"
                                      placeholder="请输入密码" style="width: 70%"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-input v-model="repassword" prefix-icon="el-icon-lock" type="password"
                                      placeholder="请再次输入密码" style="width: 70%"></el-input>
                        </el-form-item>
                        <el-form-item style="margin-bottom: 0">
                            <el-button type="success" @click="regist">立即注册</el-button>
                        </el-form-item>
                        <el-form-item style="text-align: right;padding-right: 10px;">
                            <el-link type="primary" @click="login_open">已有账号，立即登录</el-link>
                        </el-form-item>
                    </el-form>
                </div>
            </div>

        </el-main>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: "#main",
        data() {
            return {
                logins: {
                    username: '',
                    password: '',
                },
                regi: {
                    username: '',
                    name: '',
                    password: '',
                },
                repassword: '',
                options: [{
                    value: '1',
                    label: '管理员'
                }, {
                    value: '2',
                    label: '医生'
                }, {
                    value: '3',
                    label: '用户'
                }],
                value: '',
                login: true,
                register: false,
            }
        },
        methods: {
            regi_open() {
                var _this = this;
                _this.login = false;
                _this.register = true;
            },
            login_open() {
                var _this = this;
                _this.register = false;
                _this.login = true;
            },
            regist() {
                var _this = this;
                if (_this.regi.username == '' || _this.regi.name == '' || _this.regi.password == '' || _this.repassword == '') {
                    _this.$message({
                        message: '请将注册信息填写完整',
                        type: 'warning'
                    });
                } else {
                    if (_this.regi.password != _this.repassword) {
                        _this.$message({
                            message: '两次输入密码不一致',
                            type: 'warning'
                        });
                    } else {
                        axios.post("/user/register", _this.regi).then((res) => {
                            if (res.data.code == '001') {
                                this.$message({
                                    message: res.data.msg,
                                    type: 'success'
                                });
                                _this.regi.password = '';
                                _this.regi.name = '';
                                _this.regi.username = '';
                                _this.repassword = '';
                            } else {
                                this.$message({
                                    message: res.data.msg,
                                    type: 'warning'
                                });
                            }
                        })
                    }
                }
            },
            logi() {
                var _this = this;
                if (_this.logins.username === '') {
                    _this.$message({
                        message: '请输入用户名',
                        type: 'warning'
                    });
                } else if (_this.logins.password === '') {
                    _this.$message({
                        message: '请输入密码',
                        type: 'warning'
                    });
                } else if (_this.value === '') {
                    _this.$message({
                        message: '请选择登录身份',
                        type: 'warning'
                    });
                } else {
                    if (_this.value === '1') {
                        axios.post("/admin/login", _this.logins).then((res) => {
                            if (res.data.code !== "200") {
                                this.$message.error(res.data.msg);
                            } else {
                                this.$message({
                                    message: res.data.msg,
                                    type: 'success'
                                });
                                localStorage.setItem('adminInfo', JSON.stringify(res.data.data));
                                window.location.href = "/page/admin/admin.html";
                            }
                        })

                    } else if (_this.value === '2') {
                        axios.post("/doctor/login", _this.logins).then((res) => {
                            if (res.data.code !== "200") {
                                this.$message.error(res.data.msg);
                            } else {
                                this.$message({
                                    message: res.data.msg,
                                    type: 'success'
                                });
                                localStorage.setItem('doctorInfo', JSON.stringify(res.data.data));
                                window.location.href = "/page/doctor/doctor.html";
                            }
                        })
                    } else if (_this.value === '3') {
                        axios.post("/user/login", _this.logins).then((res) => {
                            if (res.data.code !== "200") {
                                this.$message.error(res.data.msg);
                            } else {
                                this.$message({
                                    message: res.data.msg,
                                    type: 'success'
                                });
                                localStorage.setItem('userInfo', JSON.stringify(res.data.data));
                                window.location.href = "/page/user/user.html";
                            }
                        })
                    }
                }
            }
        }
    })
</script>
</html>