<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医生信息</title>

    <script src="../../plugins/js/vue.js"></script>
    <script src="../../plugins/element-ui/lib/index.js"></script>
    <script src="../../plugins/js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/doctorinfo.css">
</head>
<body>
<div id="app">
    <!--  搜索框  -->
    <div class="search">
        <el-input v-model="search.jobNumber" placeholder="请输入工号" class="in"></el-input>
        <el-input v-model="search.name" placeholder="请输入姓名" class="in"></el-input>
        <el-button icon="el-icon-search" circle @click="select"></el-button>
        <el-button type="primary" @click="adddialog=true">新增</el-button>
        <el-button icon="el-icon-refresh-right" circle style="float: right" @click="refresh"></el-button>
    </div>
    <hr>
    <br>
    <div style="height: 400px">
        <!--    表格内容    -->
        <template>
            <el-table :data="doctor" border style="width: 100%;">
                <el-table-column
                        type="selection">
                </el-table-column>
                <el-table-column
                        prop="jobNumber"
                        label="工号"
                        width="70px">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名"
                        width="70px">
                </el-table-column>
                <el-table-column
                        prop="departmentName"
                        label="科室"
                        width="70px">
                </el-table-column>
                <el-table-column
                        prop="positionName"
                        label="职位"
                        width="70px">
                </el-table-column>
                <el-table-column
                        prop="telephone"
                        label="电话">
                </el-table-column>
                <el-table-column
                        prop="email"
                        label="邮箱">
                </el-table-column>
                <el-table-column
                        prop="sex"
                        label="性别"
                        width="70px">
                    <template slot-scope="scope">
                        <span>{{scope.row.sex === 1 ? "男" : "女"}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="status"
                        label="状态"
                        width="70px">
                    <template slot-scope="scope">
                        <el-tag type="success" v-if="scope.row.status === 0">启用</el-tag>
                        <el-tag type="warning" v-if="scope.row.status === 1">禁用</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="录入时间">
                </el-table-column>
                <el-table-column
                        label="操作"
                        width="180px">
                    <template slot-scope="scope">
                        <el-tooltip effect="dark" content="编辑" placement="top-start">
                            <el-button type="primary" icon="el-icon-edit" circle @click="upd(scope.row)"></el-button>
                        </el-tooltip>
                        <el-tooltip effect="dark" content="锁定" placement="top-start">
                            <el-button type="warning" icon="el-icon-lock" circle @click="lock(scope.row)"></el-button>
                        </el-tooltip>
                        <el-tooltip effect="dark" content="删除" placement="top-start">
                            <el-button type="danger" icon="el-icon-delete" circle @click="del(scope.row)"></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
        </template>
    </div>
    <!--  分页  -->
    <div>
        <el-pagination
                @current-change="handleCurrentChange"
                :current-page="page.currentPage"
                :page-size="page.pageSize"
                layout="prev, pager, next, jumper"
                :total="page.total">
        </el-pagination>
    </div>
    <!-- 新增医生 -->
    <el-dialog title="新增医生" :visible.sync="adddialog" :before-close="handleClose">
        <el-form ref="form" :model="newdoctor" class="demo-form-inline" :inline="true" label-width="70px">
            <el-form-item label="工号">
                <el-input v-model="newdoctor.jobNumber" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="账号">
                <el-input v-model="newdoctor.username"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="newdoctor.password" show-password></el-input>
            </el-form-item>
            <el-form-item label="姓名">
                <el-input v-model="newdoctor.name"></el-input>
            </el-form-item>
            <el-form-item label="电话">
                <el-input v-model="newdoctor.telephone" style="width: 110%"></el-input>
            </el-form-item>
            <el-form-item label="邮箱">
                <el-input v-model="newdoctor.email"></el-input>
            </el-form-item>
            <el-form-item label="性别">
                <el-radio-group v-model="newdoctor.sex">
                    <el-radio :label="1">男</el-radio>
                    <el-radio :label="0">女</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="生日">
                <el-date-picker
                        v-model="newdoctor.birthday"
                        type="date"
                        placeholder="请选择生日"
                        style="width: 85%">
                </el-date-picker>
            </el-form-item>
            <!--<el-form-item label="地址">
                <el-input
                        type="textarea"
                        autosize
                        placeholder="请输入地址"
                        v-model="newdoctor.address"
                        style="width: 90%">
                </el-input>
            </el-form-item>-->
            <!-- 部门选择 -->
            <el-form-item label="部门">
                <el-select v-model="newdoctor.departmentName" placeholder="请选择" @focus="fetchDeptData" @change="handleDeptChange">
                    <el-option
                            v-for="deptItem in dept"
                            :key="deptItem.id"
                            :label="deptItem.departmentName"
                            :value="deptItem.departmentName">
                    </el-option>
                </el-select>
            </el-form-item>

            <!-- 职位选择 -->
            <el-form-item label="职位">
                <el-select v-model="newdoctor.positionName" placeholder="请选择" @focus="fetchPosiData" @change="handlePosiChange">
                    <el-option
                            v-for="posiItem in posi"
                            :key="posiItem.positionId"
                            :label="posiItem.positionName"
                            :value="posiItem.positionName">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="add">确 定</el-button>
    </el-dialog>

    <el-dialog
            title="更改医生信息"
            :visible.sync="updatedialog"
            width="60%"
            :before-close="handleClose">

        <el-form ref="form" :model="upddoc" class="demo-form-inline" :inline="true">
            <el-form-item label="工号">
                <el-input v-model="upddoc.jobNumber" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="账号">
                <el-input v-model="upddoc.username" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="upddoc.password" show-password placeholder="请输入密码(必填)"></el-input>
            </el-form-item>
            <el-form-item label="姓名">
                <el-input v-model="upddoc.name" placeholder="请输入姓名(必填)"></el-input>
            </el-form-item>
            <!-- 部门选择 -->
            <el-form-item label="部门">
                <el-select v-model="newdoctor.departmentName" placeholder="请选择" @focus="fetchDeptData" @change="handleDeptChange">
                    <el-option
                            v-for="deptItem in dept"
                            :key="deptItem.id"
                            :label="deptItem.departmentName"
                            :value="deptItem.departmentName">
                    </el-option>
                </el-select>
            </el-form-item>

            <!-- 职位选择 -->
            <el-form-item label="职位">
                <el-select v-model="newdoctor.positionName" placeholder="请选择" @focus="fetchPosiData" @change="handlePosiChange">
                    <el-option
                            v-for="posiItem in posi"
                            :key="posiItem.positionId"
                            :label="posiItem.positionName"
                            :value="posiItem.positionName">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="电话">
                <el-input v-model="upddoc.telephone" style="width: 220px" placeholder="请输入电话"></el-input>
            </el-form-item>
            <el-form-item label="邮箱">
                <el-input v-model="upddoc.email"></el-input>
            </el-form-item>
            <el-form-item label="性别">
                <el-radio-group v-model="upddoc.sex">
                    <el-radio :label="1">男</el-radio>
                    <el-radio :label="0">女</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="生日">
                <el-date-picker
                        v-model="upddoc.birthday"
                        type="date"
                        placeholder="请选择生日"
                        style="width: 210px">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="地址">
                <el-input
                        type="textarea"
                        autosize
                        placeholder="请输入地址"
                        v-model="upddoc.address"
                        style="width: 220px">
                </el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input
                        type="textarea"
                        autosize
                        placeholder="请输入备注"
                        v-model="upddoc.remark"
                        style="width: 210px"
                >
                </el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="updat">修 改</el-button>
  </span>
    </el-dialog>
</div>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                search: {
                    jobNumber: '',
                    name: '',
                },
                doctor: [{
                    jobNumber: '',
                    username: '',
                    name: '',
                    departmentName: '',
                    positionName: '',
                    telephone: '',
                    email: '',
                    sex: 1,
                    status: '',
                    createTime: '',
                }],
                page: {
                    currentPage: 1,
                    pageSize: 5,
                    total: 0
                },
                adddialog: false,
                newdoctor: {
                    jobNumber: '',
                    password: '',
                    username: '',
                    name: '',
                    telephone: '',
                    email: '',
                    sex: 1,
                    birthday: '',
                    address: '',
                    departmentId: null,
                    departmentName: '',
                    positionName: '',
                    positionId: null
                },
                dept: [],
                posi: [],
                updatedialog: false,
                upddoc: {
                    id: '',
                    jobNumber: '',
                    username: '',
                    password: '',
                    name: '',
                    telephone: '',
                    email: '',
                    sex: 1,
                    birthday: '',
                    address: '',
                    departmentName: '',
                    positionName: '',
                    telephone: '',
                    email: '',
                    sex: '',
                    birthday: '',
                    address: '',
                    remark: ''
                },
                formpass: '',
            }
        },
        mounted() {
            this.select();
        },
        methods: {
            handleCurrentChange(currentPage) {
                this.page.currentPage = currentPage;
                this.select();
            },
            select() {
                let _this = this;
                axios.post("/doctor/select/" + _this.page.currentPage + "/" + _this.page.pageSize, _this.search).then((res) => {
                    _this.page.currentPage = res.data.data.current;
                    _this.page.total = res.data.data.total;
                    _this.page.pageSize = res.data.data.size;
                    _this.doctor = res.data.data.records;
                })
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },
            add() {
                let _this = this;
                if (_this.newdoctor.departmentName === '' || _this.newdoctor.name === '' || _this.newdoctor.password === '' || _this.newdoctor.positionName === '') {
                    this.$notify.error({
                        title: '错误',
                        message: '请检查信息是否填写完整'
                    });
                } else {
                    axios.post("/doctor/add/", _this.newdoctor).then((res) => {
                        if (res.data.code === '200') {
                            this.$notify({
                                title: '成功',
                                message: res.data.msg,
                                type: 'success'
                            });
                            _this.newdoctor.departmentName = '';
                            _this.newdoctor.name = '';
                            _this.newdoctor.password = '';
                            _this.newdoctor.jobNumber = '';
                            _this.newdoctor.positionName = '';
                        } else {
                            this.$notify.error({
                                title: '错误',
                                message: res.data.msg,
                            });
                        }
                        _this.select();
                    })
                }
            },
            refresh() {
                console.log("123");
                let _this = this;
                _this.search.jobNumber = '';
                _this.search.name = '';
                _this.select();
            },
            lock(row) {
                let _this = this;
                axios.post("/doctor/lock/", row).then((res) => {
                    this.$notify({
                        title: '成功',
                        message: res.data.msg,
                        type: 'success'
                    });
                    _this.select();
                })
            },
            del(row) {
                let _this = this;
                this.$confirm('此医生将被删除, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete("/doctor/delete/" + row.id).then((res) => {
                        this.$notify({
                            title: '成功',
                            message: res.data.msg,
                            type: 'success'
                        });
                        _this.select();
                    })
                }).catch(() => {
                    this.$notify.info({
                        title: '消息',
                        message: '已取消删除'
                    });
                });
            },
            upd(row) {
                let _this = this;
                _this.updatedialog = true;
                _this.upddoc.id = row.id;
                _this.upddoc.jobNumber = row.jobNumber;
                _this.upddoc.password = row.password;
                _this.upddoc.username = row.username;
                _this.upddoc.name = row.name;
                _this.upddoc.departmentName = row.departmentName;
                _this.upddoc.positionName = row.positionName;
                _this.upddoc.telephone = row.telephone;
                _this.upddoc.email = row.email;
                _this.upddoc.sex = row.sex;
                _this.upddoc.birthday = row.birthday;
                _this.upddoc.address = row.address;
                _this.upddoc.remark = row.remark;
               //  _this.formpass = row.password;
            },
            updat() {
                let _this = this;
                axios.post("/doctor/update", _this.upddoc).then((res) => {
                    if (res.data.code === '200') {
                        this.$notify({
                            title: '成功',
                            message: res.data.msg,
                            type: 'success'
                        });
                        _this.select();
                        _this.updatedialog = false;
                    } else {
                        this.$notify.error({
                            title: '错误',
                            message: res.data.msg,
                        });
                    }
                })
            },
            // 获取部门数据
            fetchDeptData() {
                // 防止重复加载数据
                if (this.dept.length === 0) {
                    axios.post('/dept/selectAll').then(response => {
                        this.dept = response.data.data; // 假设返回的数据列表在 data 属性内
                    }).catch(error => {
                        console.error('获取部门数据失败: ', error);
                    });
                }
            },
            // 获取职位数据
            fetchPosiData() {
                // 防止重复加载数据
                if (this.posi.length === 0) {
                    axios.post('/position/selectAll').then(response => {
                        this.posi = response.data.data; // 假设返回的数据列表在 data 属性内
                    }).catch(error => {
                        console.error('获取职位数据失败: ', error);
                    });
                }
            },
            handleDeptChange(value) {
                // 找到选择的部门对象并更新 departmentId
                const selectedDept = this.dept.find(dept => dept.departmentName === value);
                this.newdoctor.departmentId = selectedDept ? selectedDept.id : null;
            },
            handlePosiChange(value) {
                // 找到选择的职位对象并更新 positionId
                const selectedPosi = this.posi.find(posi => posi.positionName === value);
                this.newdoctor.positionId = selectedPosi ? selectedPosi.positionId : null;
            },
        }
    })
</script>
</body>
</html>