<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医生信息</title>

    <script src="../../plugins/js/vue.js"></script>
    <script src="../../plugins/element-ui/lib/index.js"></script>
    <script src="../../plugins/js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/doctorinfo.css">
</head>
<body>
<div id="app">
    <div class="search">
        <el-select v-model="search.departmentName" placeholder="请选择部门">
            <el-option
                    v-for="item in dept"
                    :key="item.departmentName"
                    :label="item.departmentName"
                    :value="item.departmentName">
            </el-option>
        </el-select>
        <el-input v-model="search.name" placeholder="请输入姓名" class="in"></el-input>
        <el-button icon="el-icon-search" circle @click="select"></el-button>
        <el-button icon="el-icon-refresh-right" circle style="float: right" @click="refresh"></el-button>
    </div>
    <hr>
    <br>
    <div style="height: 400px">
        <template>
            <el-table
                    :data="doctor"
                    border
                    style="width: 100%;">
                <el-table-column
                        type="selection">
                </el-table-column>
                <el-table-column
                        prop="jobNumber"
                        label="工号"
                        width="70px">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名"
                        width="70px">
                </el-table-column>
                <el-table-column
                        prop="departmentName"
                        label="科室"
                        width="70px">
                </el-table-column>
                <el-table-column
                        prop="positionName"
                        label="职位"
                        width="70px">
                </el-table-column>
                <el-table-column
                        prop="telephone"
                        label="电话">
                </el-table-column>
                <el-table-column
                        prop="email"
                        label="邮箱">
                </el-table-column>
                <el-table-column
                        prop="sex"
                        label="性别"
                        width="70px">
                    <template slot-scope="scope">
                        <span>{{scope.row.sex == 1 ? "男" : "女"}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="status"
                        label="状态"
                        width="70px">
                    <template slot-scope="scope">
                        <el-tag type="success" v-if="scope.row.status==0">在职</el-tag>
                        <el-tag type="warning" v-if="scope.row.status==1">停职</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="录入时间">
                </el-table-column>
                <el-table-column
                        label="操作"
                        width="180px">
                    <template slot-scope="scope">
                        <el-tooltip effect="dark" content="医生信息" placement="top-start">
                            <el-button type="primary" icon="el-icon-collection-tag" circle
                                       @click="upd(scope.row)"></el-button>
                        </el-tooltip>
                        <el-tooltip effect="dark" content="预约" placement="top-start">
                            <el-button type="success" icon="el-icon-chat-dot-square" circle
                                       @click="openappoint(scope.row)"></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>
        </template>
    </div>
    <div>
        <el-pagination
                @current-change="handleCurrentChange"
                :current-page="page.currentPage"
                :page-size="page.pageSize"
                layout="prev, pager, next, jumper"
                :total="page.total">
        </el-pagination>
    </div>
    <el-dialog
            title="医生信息"
            :visible.sync="updatedialog"
            width="60%">

        <el-form ref="form" :model="upddoc" class="demo-form-inline" :inline="true">
            <el-form-item label="工号">
                <el-input v-model="upddoc.jobNumber" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="姓名">
                <el-input v-model="upddoc.name" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="科室">
                <el-input v-model="upddoc.departmentName" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="职位">
                <el-input v-model="upddoc.positionName" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="电话">
                <el-input v-model="upddoc.telephone" style="width: 220px" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="邮箱">
                <el-input v-model="upddoc.email" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="性别">
                <span>{{upddoc.sex == 1 ? "男" : "女"}}</span>
            </el-form-item>
            <el-form-item label="生日">
                <el-input v-model="upddoc.birthday" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="地址">
                <el-input v-model="upddoc.address" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input
                        type="textarea"
                        autosize
                        v-model="upddoc.remark"
                        style="width: 210px"
                        :disabled="true"
                >
                </el-input>
            </el-form-item>
        </el-form>
    </el-dialog>
    <el-dialog
            title="预约登记"
            :visible.sync="appointdialog">
        <el-form ref="form" :model="appoint" label-width="80px">
            <el-form-item label="病情描述">
                <el-input
                        type="textarea"
                        :rows="4"
                        v-model="appoint.remark"
                        style="width: 400px"
                >
                </el-input>
            </el-form-item>
            <el-form-item label="预约时间">
                <el-date-picker
                        v-model="appoint.consultTime"
                        type="date"
                        placeholder="请选择就诊日期"
                        value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="yuyue">预 约</el-button>
  </span>
    </el-dialog>
</div>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                search: {
                    departmentName: '',
                    name: '',
                },
                doctor: [{
                    id: '',
                    jobNumber: '',
                    name: '',
                    departmentName: '',
                    positionName: '',
                    telephone: '',
                    email: '',
                    sex: 1,
                    status: '',
                    createTime: '',
                }],
                page: {
                    currentPage: 1,
                    pageSize: 5,
                    total: 0
                },
                appointdialog: false,
                newdoctor: {
                    jobNumber: '',
                    password: '',
                    name: '',
                    departmentName: '',
                    positionName: ''
                },
                dept: [{
                    departmentName: '',
                }],
                posi: [{
                    value: "主任"
                }, {
                    value: "副主任"
                }, {
                    value: "主治医师"
                }, {
                    value: "医师"
                }],
                updatedialog: false,
                upddoc: {
                    id: '',
                    jobNumber: '',
                    name: '',
                    departmentName: '',
                    positionName: '',
                    telephone: '',
                    email: '',
                    sex: '',
                    birthday: '',
                    address: '',
                    remark: ''
                },
                formpass: '',
                appoint: {
                    consultTime: '',
                    departmentName: '',
                    doctorId: '',
                    userId: '',
                    doctorname: '',
                    remark: ''
                }
            }
        },
        mounted() {
            this.select();
            this.searchdept();
        },
        methods: {
            handleCurrentChange(currentPage) {
                this.page.currentPage = currentPage;
                this.select();
            },
            select() {
                let _this = this;
                axios.post("/doctor/sel/" + _this.page.currentPage + "/" + _this.page.pageSize, _this.search).then((res) => {
                    _this.page.currentPage = res.data.data.current;
                    _this.page.total = res.data.data.total;
                    _this.page.pageSize = res.data.data.size;
                    _this.doctor = res.data.data.records;
                })
            },
            searchdept() {
                let _this = this;
                axios.get("/doctor/dept").then((res) => {
                    _this.dept = res.data.data;
                })
            },
            refresh() {
                let _this = this;
                _this.search.departmentName = '';
                _this.search.name = '';
                _this.select();
            },
            upd(row) {
                let _this = this;
                _this.updatedialog = true;
                _this.upddoc.id = row.id;
                _this.upddoc.jobNumber = row.jobNumber;
                _this.upddoc.name = row.name;
                _this.upddoc.departmentName = row.departmentName;
                _this.upddoc.positionName = row.positionName;
                _this.upddoc.telephone = row.telephone;
                _this.upddoc.email = row.email;
                _this.upddoc.sex = row.sex;
                _this.upddoc.birthday = row.birthday;
                _this.upddoc.address = row.address;
                _this.upddoc.remark = row.remark;
                _this.formpass = row.password;
            },
            openappoint(row) {
                let _this = this;
                var userStr = localStorage.getItem("userInfo");
                var userObj = JSON.parse(userStr);
                _this.appointdialog = true;
                _this.appoint.departmentName = row.departmentName;
                _this.appoint.doctorId = row.id;
                _this.appoint.userId = userObj.id;
                _this.appoint.doctorname = row.name;
            },
            yuyue() {
                let _this = this;
                if (_this.appoint.remark == '') {
                    this.$notify({
                        title: '提示',
                        message: '请填写病情描述',
                        type: 'warning'
                    });
                } else if (_this.appoint.consultTime == '') {
                    this.$notify({
                        title: '提示',
                        message: '请选择就诊时间',
                        type: 'warning'
                    });
                } else {
                    axios.post("/appoint/yuyue/", _this.appoint).then((res) => {
                        if (res.data.code === "200") {
                            this.$notify({
                                title: '成功',
                                message: res.data.msg,
                                type: 'success'
                            });
                            _this.appoint.remark = '';
                            _this.appoint.consultTime = '';
                            _this.appointdialog = false;
                        } else {
                            this.$notify.error({
                                title: '错误',
                                message: res.data.msg,
                            });
                        }
                    })
                }
            }
        }
    })
</script>
</body>
</html>