<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户界面</title>

    <script src="../../plugins/js/vue.js"></script>
    <script src="../../plugins/element-ui/lib/index.js"></script>
    <script src="../../plugins/js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../css/admin.css">
    <link rel="stylesheet" href="../../css/user-home.css">
</head>
<body style="height: 100%;">
<div id="main" style="height: 100%">
    <el-container style="height: 100%;">
        <el-header id="header">
            <div id="title">
                <img id="hospital" src="../../img/icon/logo.png"></img>
                <p style="float: left; margin-left: 5px; font-size: 20px;">志雄医院</p>
            </div>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect" style="background-color: rgb(250,250,250)">
                <el-menu-item index="1" @click="address='../index/userindex.html'">
                    <i class="el-icon-s-home"></i><span slot="title">首页</span>
                </el-menu-item>
                <el-menu-item index="2" @click="address='../user/myappointinfo.html'">
                    <i class="el-icon-phone"></i><span slot="title">预约信息</span>
                </el-menu-item>
                <el-menu-item index="3" @click="address='../user/caseloginfo.html'">
                    <i class="el-icon-notebook-1"></i><span slot="title">病历信息</span>
                </el-menu-item>
                <el-menu-item index="4" @click="address='../user/prescinfo.html'">
                    <i class="el-icon-document-copy"></i><span slot="title">处方信息</span>
                </el-menu-item>
                <el-menu-item index="5" @click="address='../user/liveinfo.html'">
                    <i class="el-icon-office-building"></i><span slot="title">住院信息</span>
                </el-menu-item>
                <el-menu-item index="6" @click="address='../user/feedbackinfo.html'">
                    <i class="el-icon-chat-line-round"></i><span slot="title">反馈信息</span>
                </el-menu-item>
                <el-menu-item index="7" @click="address='../user/noticeinfo.html'">
                    <i class="el-icon-data-board"></i><span slot="title">公告信息</span>
                </el-menu-item>
            </el-menu>
            <div id="name">
                <img src="../../img/icon/draw.png"
                     style="margin-top: 15px;margin-right:10px;float:left; height: 26px;width: 26px">
                <el-dropdown>
                      <span class="el-dropdown-link">
                        {{username}}<i class="el-icon-arrow-down el-icon--right"></i>
                      </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="address='../user/myselfinfo.html'">个人信息</el-dropdown-item>
                        <el-dropdown-item @click.native="openpwddialog">修改密码</el-dropdown-item>
                        <el-dropdown-item @click.native="out">退出登录</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </el-header>
        <el-container>
            <el-container>
                <el-main style="overflow-y: hidden;">
                    <iframe :src="address" style="width: 85%; height: 100%; padding-left: 8%;" frameborder="0">
                    </iframe>
                </el-main>
            </el-container>
        </el-container>
    </el-container>
    <el-dialog
            title="修改密码"
            :visible.sync="pwddialog"
            width="30%">
        <el-form ref="form" :model="pwd" label-width="120px">
            <el-form-item label="请输入原密码">
                <el-input v-model="pwd.password" show-password></el-input>
            </el-form-item>
            <el-form-item label="请输入新密码">
                <el-input v-model="pwd.newpassword" show-password></el-input>
            </el-form-item>
            <el-form-item label="再次输入新密码">
                <el-input v-model="pwd.npassword" show-password></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="repwd">确 定</el-button>
  </span>
    </el-dialog>
</div>
</>

<script>
    new Vue({
        el: "#main",
        data() {
            return {
                activeIndex: '1',
                username:'username',
                address:'../index/userindex.html',
                pwddialog:false,
                pwd: {
                    password: '',
                    newpassword: '',
                    npassword: '',
                },
            }
        },
        mounted() {
            this.getItem();
        },
        methods: {
            getItem() {
                let _this = this;
                var userStr = localStorage.getItem("userInfo");
                var userObj = JSON.parse(userStr);
                _this.username = userObj.username;
            },
            openpwddialog() {
                let _this = this;
                _this.pwd.newpassword = '';
                _this.pwd.password = '';
                _this.pwd.npassword = '';
                _this.pwddialog = true;
            },
            repwd() {
                let _this = this;
                var userStr = localStorage.getItem("userInfo");
                var userObj = JSON.parse(userStr);
                var id = userObj.id;
                if (_this.pwd.password == '' || _this.pwd.newpassword == '' || _this.pwd.npassword == '') {
                    this.$notify({
                        title: '警告',
                        message: '请将输入框填写完整',
                        type: 'warning'
                    });
                } else {
                    if (_this.pwd.newpassword != _this.pwd.npassword) {
                        this.$notify.error({
                            title: '错误',
                            message: '两次输入密码不一致'
                        });
                    } else {
                        axios.post("/user/repwd/" + _this.pwd.password + "/" + _this.pwd.newpassword + "/" + id).then((res) => {
                            if (res.data.code === "200") {
                                this.$notify({
                                    title: '成功',
                                    message: res.data.msg,
                                    type: 'success'
                                });
                                _this.pwddialog = false;
                            } else {
                                this.$notify.error({
                                    title: '错误',
                                    message: res.data.msg,
                                });
                            }
                        })
                    }
                }
            },
            out() {
                this.$confirm('是否退出登录?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    localStorage.removeItem("userInfo");
                    axios.post("/user/logout");
                    window.location.href = "/page/login/login.html";
                    this.$message({
                        type: 'success',
                        message: '退出登录成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消退出登录'
                    });
                });
            }
        },
        handleSelect(key, keyPath) {
            this.activeIndex = key;
        },
    })
</script>
</body>
</html>